<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/result.css') }}?v={{ timestamp }}">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo">

            <span>ECOPATROL</span>
        </div>
        <nav>
            <ul>
                <li><a href="/upload">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-container">
        <div class="file-container">
        <div class="file-canvas">
            {% if detection_vo.input_file_path.split('.')[-1] in ['jpg',
            'png', 'jpeg'] %}
                <div class="result-item">
                    <img class="result-image" width="800" height="500"
                         src="{{ url_for('static', filename='outputs/' +
                         detection_vo.output_file_path.split('/')[-1]) }}"
                         alt="Annotated Image">
                </div>
            {% elif detection_vo.input_file_path.split('.')[-1] in ['mp4', 'mkv', 'avi', 'mpeg',
            'mov'] %}
                <div class="result-item">
                    <video class="result-video" id="videoPlayer" width="800" height="500" controls>
                        <source src="{{ url_for('static', filename='outputs/' + detection_vo.output_file_path.split('/')[-1]) }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            {% endif %}
        </div>
        </div>

        <div class="other-container">


            {% for key in detection_vo.detection_stats %}
                {% if key == 'is_garbage' %}
                    <h2>Garbage Detected:
                    {% if detection_vo.detection_stats[key] == True %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                    </h2>
                {% elif key == 'pothole_counts' %}
                    <h2>Pothole Counts: {{ detection_vo
                    .detection_stats[key] }}</h2>
                {% elif key == 'cattle_counts' %}
                    <h2>Cattle Counts: {{ detection_vo
                    .detection_stats[key] }}</h2>
                {% elif key == 'minimum_cattle_counts' %}
                    <h2>Minimum Cattle Counts: {{ detection_vo
                    .detection_stats[key] }}</h2>
                {% elif key == 'maximum_cattle_counts' %}
                    <h2>Maximum Cattle Counts: {{ detection_vo
                    .detection_stats[key] }}</h2>
                {% elif key == 'minimum_pothole_counts' %}
                    <h2>Minimum Pothole Counts: {{ detection_vo
                    .detection_stats[key] }}</h2>
                {% elif key == 'maximum_pothole_counts' %}
                    <h2>Maximum Pothole Counts: {{ detection_vo
                    .detection_stats[key] }}</h2>
                {% endif %}
            {% endfor %}

            <a class="link-button" href="/upload">Upload Again</a>
            <a class="link-button" href="/view">View</a>
            <a class="link-button" href="{{ url_for('static',
                    filename='outputs/' + detection_vo.output_file_path.split('/')[-1]) }}" download>Download</a>
    </div>

</body>
</html>